<!-- Footer -->
<footer class="page-footer font-small blue pt-4">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">

          <!-- Content -->
          <h5 class="text-uppercase">HA TOWER</h5>
          <p>For further information, please contact Mr. Ha.</p>
          
          <p>09999999999 - 088888888888</p>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none pb-3">

        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">

            <!-- Links -->
            <h5 class="text-uppercase"><b>TonyHa Payment Products</b></h5>

            <ul class="list-unstyled">
              <li>
                <a href="#!">Link 1</a>
              </li>
              <li>
                <a href="#!">Link 2</a>
              </li>
              <li>
                <a href="#!">Link 3</a>
              </li>
              <li>
                <a href="#!">Link 4</a>
              </li>
            </ul>

          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3 mb-md-0 mb-3">

            <!-- Links -->
            <h5 class="text-uppercase"><b>Get to Know Us</b></h5>

            <ul class="list-unstyled">
              <li>
                <a href="https://www.24h.com.vn/ban-tre-cuoc-song/co-gai-xinh-nhat-da-nang-co-guong-mat-dep-nhu-thien-than-c64a1132468.html">Business Card</a>
              </li>
              <li>
                <a href="https://zicxa.com/hinh-anh/gai-xinh-trieu-like-tren-facebook.html">Shop with points</a>
              </li>
              <li>
                <a href="https://kienthuc.net.vn/cong-dong-tre/len-bao-trung-gai-xinh-vong-1-khung-tiet-lo-ve-qua-khu-1269326.html">Reload Your Balance</a>
              </li>
              <li>
                <a href="https://zicxa.com/hinh-anh/gai-xinh.html">Currency Converter</a>
              </li>
            </ul>

          </div>
          <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020, HaCorporations.world, Inc. or its affiliates
      <a href="https://www.google.com/search?q=gai+dep&source=lnms&tbm=isch&sa=X&ved=2ahUKEwj9ou6k79PpAhVP05QKHVjgBgoQ_AUoAXoECAsQAw&biw=1600&bih=789"> Conditions of Use   Privacy Notice   </a>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->